  <!doctype html>
  <html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>ng-bootcamp - Day 2</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  </head>
  <body class="container" ng-controller="MyController">
    <h1>Echonest Sample App</h1>
    <form ng-submit="getPlaylist(artist)">
      <div class="form-group">
        <label for="artist">Enter an artist</label>
        <input type="text" class="form-control" ng-model="artist" placeholder="Artist"/>
      </div>
      <button type="submit" class="btn btn-primary">Get Playlist</button>
    </form>

    <div class="panel panel-default" ng-show="playlist != null">
      <div class="panel-heading">
        <h3 class="panel-title">Playlist based on {{artist}}</h3>
      </div>
      <div class="panel-body">
        <div ng-repeat="song in playlist">
          {{$index + 1}}: {{song.title}} - by {{song.artist_name}}
        </div>
    </div>


    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app/app.js"></script>
  </body>
  </html>
