p
  button.btn.btn-default(type="button") Default
  button.btn.btn-primary(type="button") Primary
  button.btn.btn-success(type="button") Success
  button.btn.btn-info(type="button") Info
  button.btn.btn-warning(type="button") Warning
  button.btn.btn-danger(type="button") Danger
  button.btn.btn-link(type="button") Link