<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>ng-bootcamp - Day 1</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
</head>
<body ng-controller="MyController">
  <h1>{{'Hello ' + name}}</h1>

  <h2>Scope Inheritance</h2>
  <div ng-controller="ParentController" class="parent-controller">
    Parent Controller Name: {{parentName}}
    <div ng-controller="ChildController" class="child-controller">
      Child Controller Name: {{childName}}; parent name: {{parentName}}
    </div>
  </div>

  <h2>Two-Way Data Binding</h2>
  <div ng-controller="TwoWayDataBindingController">
    <div>
      <label for="name">Name: </label>
      <input id="name" ng-model="model.name" />
    </div>
    <div>Hello, {{model.name}}!</div>
    <button class="btn btn-primary" ng-click="clearName(model.name)">Clear Name</button>
  </div>

  <h2>Repeat and Filtering</h2>
  <div ng-controller="RepeatAndFilterController">
    <div>
      <label for="search">Search: </label>
      <input id="search" ng-model="search" />
    </div>
    <ul>
      <li ng-repeat="item in items | filter:search">{{$index}}: {{item.name}}</li>
    </ul>
  </div>

  <h2>Forms</h2>
  <div ng-controller="MyFormController">
    <form name="myForm" ng-submit="createUser(user.firstName, user.lastName)" novalidate>
      <div class="form-group" ng-class="{'has-error': myForm.firstName.$invalid && myForm.firstName.$dirty, 'has-success':myForm.firstName.$valid}"> 
        <label for="firstName">First Name: </label>
        <input type="text" class="form-control" name="firstName" id="firstName" ng-model="user.firstName" required/>
      </div>
      <div class="form-group" ng-class="{'has-error': myForm.lastName.$invalid && myForm.lastName.$dirty, 'has-success':myForm.lastName.$valid}"> 
        <label for="lastName">Last Name: </label>
        <input type="text" class="form-control" name="lastName" id="lastName" ng-model="user.lastName" required/>
      </div>
      <button class="btn btn-primary" type="submit" ng-disabled="myForm.$invalid">Create User</button>
    </form>
  </div>


  <script src="bower_components/angular/angular.min.js"></script>
  <script src="app/app.js"></script>
</body>
</html>
